# DB
MYSQL_HOST=db:3306
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=devdb
MYSQL_USER=dev
MYSQL_PASSWORD=password
TZ=Asia/Tokyo

# OPENAI
OPENAI_API_KEY=XXXX
CHATGPT_MODEL_NAME=gpt-4o

# DEEPL
DEEPL_API_KEY=XXXX
VOICE_SOURCE_LANG=JA
CHATGPT_INPUT_LANG=EN-US